/* Start navbar.js */
.Navbar-main-container{

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 0px 30px;
  background-color: transparent;
}

.navbar-logo {
  width: 12 0px;    
  height: 120px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  margin-right: -430px;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 15px;
}

.navbar-menu li a:hover { 
  color:  rgb(2, 111, 154);
}

.navbar-btn {
  padding: 10px 20px;
  background-color: rgb(2, 111, 154);
  border-radius: 5px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  border: 1px solid rgb(2, 111, 154);
}

.navbar-btn:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
  border: 1px solid rgb(2, 111, 154);
  color: rgb(2, 111, 154);
}
/* End navbar.js */





/* Start Contentone.js */
.Contentone-main-container{
  
}

.Contentone-main-container-divone{
  
}

.Contentone-main-container-divone-image{
  width: 100%;
  height: 60%;
      background-image: linear-gradient(135deg, #fff, #e0e0e0 10%, #a0a0a0 25%, #fefefe 38%, silver 50%, #7d7d7d 62%, #f5f5f5 75%, #d0d0d0 90%, #fff);

}

.Contentone-main-container-divone-text{ 
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
  transform-style: preserve-3d;
  position: absolute;
  bottom: -180px;
  left: 16px;
  font-size: 36px;
  color: #C8C8C8;
  margin-top: 30px;
}

.Contentone-main-container-divtwo{
  margin-top: 100px;
  margin-left: 250px;
  margin-bottom: 30px;
}

.Contentone-main-container-divtwo-h1 {
  font-size: 47px;
  margin-bottom: 200px;
}

.Contentone-main-container-divthree-h1{
  font-size: 48px;
}

.Contentone-main-container-divthree{
  margin-left: 40px;
}

.Contentone-main-container-divthree-p{
  font-size: 19px;
  margin-bottom: 70px;
}

.Contentone-main-container-divfour{
  margin-left: 130px;
  border: none;
  border-radius: 15px;
}

.Contentone-main-container-divfour-image{
  width: 30%;
  height: 20%;
  border-radius: 15px;
}

.Contentone-main-container-divfive{
  float: right;
}

.Contentone-main-container-divfive-divone{
  margin-right: 550px;
  margin-top: -528px;
  background-color: rgba(2, 111, 154, 0.26);
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 60px;
  border-radius: 15px;
}

.Contentone-main-container-divfive-divone-h1{
  margin-top: -8px;
  margin-bottom: 45px;
}

.Contentone-main-container-divfive-divone:hover {
  background-color: rgb(2, 111, 154);
  color: white;
  transition: 0.6s;
}


.Contentone-main-container-divfive-divtwo {
  margin-right: 550px;
  margin-top: 28px;
  background-color: rgba(2, 111, 154, 0.26);
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 60px;
  border-radius: 15px;
}

.Contentone-main-container-divfive-divtwo-h1{
  margin-top: -8px;
  margin-bottom: 45px;
}

.Contentone-main-container-divfive-divtwo:hover {
  background-color: rgb(2, 111, 154);
  color: white;
  transition: 0.6s;
}

.Contentone-main-container-divsix{
  margin-left: 1000px;
  margin-top: -550px;
}

.Contentone-main-container-divfive-divthree{
  margin-top: 22px;
  background-color:rgba(2, 111, 154, 0.26);
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-right: 130px;
}

.Contentone-main-container-divfive-divthree-h1{
  margin-top: -8px;
  margin-bottom: 45px;
}

.Contentone-main-container-divfive-divthree:hover{
  background-color: rgb(2, 111, 154);
  color: white;
  transition: 0.6s;
}

.Contentone-main-container-divfive-divfour{
  margin-top: 28px;
  background-color: rgba(2, 111, 154, 0.26);
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-right: 130px;
}

.Contentone-main-container-divfive-divfour-h1{
  margin-top: -8px;
  margin-bottom: 45px;
}

.Contentone-main-container-divfive-divfour:hover{
  background-color: rgb(2, 111, 154);
  color: white;
  transition: 0.6s;
}


.Contentone-main-container-divseven {
  margin-left: 130px;
  margin-top: 100px;
}

.Contentone-main-container-divseven-h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-bottom: 100px;
} 

.divseven-span{
  color: rgb(2, 111, 154);
}

.Contentone-main-container-divseven-image{
  width: 90%;
  height: 80%;
}

.Contentone-main-container-diveight{
  margin-top: 100px;
  background-color: rgb(0, 35, 49);
}

.Contentone-main-container-diveight-h1{
  margin-left: 130px;
  font-size: 48px;
  color: white;
  margin-top: 50px;
  padding-top: 100px;
}

.contentone-hr {
  width: 83.5%;
  margin: 70px auto 15px;
  height: 1px;
  color: rgba(255, 255, 255, 0.2);
}

.Contentone-main-container-diveight-divone{
  color: white;
  margin-left: 130px;
  margin-top: 50px;
}

.diveight-divone-divone-image{
  width: 45%;
  border-radius: 15px;
  margin-left: 630px;
  margin-top: -150px;
  margin-bottom: 50px;
}

.Contentone-main-container-divnine{
  margin-left: 130px;
  margin-top: 100px;
  margin-bottom: -50px;
}

.Contentone-main-container-divnine-h1{
  font-size: 48px;
}

.Contentone-main-container-divnine-h1-span{
  color: rgb(2, 111, 154);
}

/* ===== TESTIMONIAL SLIDER ===== */

.testimonial-container {
  padding: 120px 130px;
  background-color: #ffffff;
}

.testimonial-heading {
  font-size: 52px;
  margin-bottom: 70px;
}

.testimonial-slider {
  display: flex;
  align-items: center;
  gap: 40px;
}

.testimonial-image img {
  width: 320px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.testimonial-image.preview {
  opacity: 0.6;
}

.testimonial-card {
  background-color: #f7f7f7;
  padding: 50px;
  border-radius: 20px;
  max-width: 520px;
}

.testimonial-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}

.testimonial-name {
  color: rgb(2, 111, 154);
  margin-bottom: 5px;
}

.testimonial-role {
  font-size: 14px;
  color: #555;
}

/* DOTS */
.testimonial-dots {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
}

.dot.active {
  background-color:  rgb(2, 111, 154);
}

/* ARROWS */
.testimonial-arrows {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  margin-bottom: -150px;
}

.testimonial-arrows button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #f2f2f2;
}

.testimonial-arrows button:hover {
  background-color:  rgb(2, 111, 154);
  color: white;
}
/* End Contentone.jsx */





/* Start Footer.js */
.Footer-main-container{
  margin-top: 100px;
} 

.Footer-main-container-divone{
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0);
  float: left;
  padding-left: 130px;
  padding-top: 50px;
}

.Footer-main-container-divone-input{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
  margin-top: 20px;
}

.Footer-main-container-divone-button{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color:  rgb(2, 111, 154);
  color: white;
  margin-left: 20px;
  margin-top:   0px;
}

.Footer-main-container-divone-button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black; 
  border: 1px solid rgb(2, 111, 154);
  color: rgb(2, 111, 154);
}

.Footer-main-container-divtwo{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  float: left;
  padding-right: 60px;
  padding-top: 40px;
}

.Footer-main-container-divtwo-ul{
  list-style-type: none;
  margin-top: 0px;

}

.Footer-main-container-divtwo-ul li{
  margin-top: 30px;
  margin-left: 70px;
}

.Footer-main-container-divthree {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  float: left;
  padding-right: 60px;
  padding-top: 40px;
}

.Footer-main-container-divthree-ul {
  list-style-type: none;
  margin-top: 30px;
}

.Footer-main-container-divthree-ul li{
  list-style-type: none;
  margin-top: 30px;
  margin-left: 60px;
}

.Footer-main-container-divfour {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  float: left;
  padding-right: 60px;
  padding-top: 40px;
}

.Footer-main-container-divfour-ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 140px;
}

.Footer-main-container-divfour-ul li{
  list-style-type: none;
  margin-top: 30px;
  margin-left: 60px;
}

.Footer-main-container-main-li-li:hover{
  color: rgb(2, 111, 154);
}

.Footer-main-container-main-li{
  color:  rgb(2, 111, 154);
}

.footer-hr {
  width: 83.5%;
  margin: 30px auto 15px;
  height: 1px;
  color: rgba(255, 255, 255, 0.2);
}

.footer-bottom-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  font-size: 17px;
  float: right;
  margin-right: 120px;
}

.footer-logo-image {
  width: 25%;
  height: 10%;
  float: left;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: -15px;
}

.footer-social-icons {
  display: flex;
  gap: 28px;
  font-size: 18px;
  cursor: pointer;
  float: right;
  margin-top: 60px;
  margin-right: -570px;
}

.footer-social-icons svg:hover {
  color: rgb(2, 111, 154);
  transition: 0.3s;
}

.icon-btn {
  color: black;
}
/* End Footer.js */



/* =========================
   GLOBAL RESPONSIVE FIX
========================= */
@media (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}


/* =========================
   MOBILE & SMALL DEVICES
   (max-width: 600px)
========================= */
@media (max-width: 600px) {

  /* REMOVE FLOATS */
  [class*="divfive"],
  [class*="divsix"],
  [class*="divfour"],
  [class*="divthree"],
  [class*="divtwo"] {
    float: none !important;
    margin: 20px auto !important;
    position: static !important;
  }

  /* NAVBAR */
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .navbar-menu {
    flex-direction: column;
    margin: 0 !important;
    align-items: center;
  }

  .navbar-btn {
    width: 100%;
  }

  /* HERO TEXT */
  .Contentone-main-container-divone-text {
    position: static;
    font-size: 22px;
    text-align: center;
    margin: 20px;
  }

  /* HEADINGS */
  h1 {
    font-size: 24px !important;
    line-height: 1.3;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 15px;
  }

  /* SERVICE CARDS */
  .Contentone-main-container-divfive-divone,
  .Contentone-main-container-divfive-divtwo,
  .Contentone-main-container-divfive-divthree,
  .Contentone-main-container-divfive-divfour {
    width: 92%;
    margin: 15px auto !important;
    padding: 25px;
  }

  /* DIVEIGHT SECTION */
  .Contentone-main-container-diveight {
    padding: 40px 15px;
  }

  .diveight-divone-divone-image {
    width: 100%;
    margin: 20px 0;
  }

  /* TESTIMONIAL */
  .testimonial-container {
    padding: 30px 15px;
  }

  .testimonial-slider {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-image img {
    width: 100%;
  }
}


/* =========================
   TABLET DEVICES
   (601px – 900px)
========================= */
@media (max-width: 900px) {

  /* REMOVE FIXED MARGINS */
  .Contentone-main-container * {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .Contentone-main-container-divfour-image {
    width: 80%;
    display: block;
  }

  .Contentone-main-container-divfive-divone,
  .Contentone-main-container-divfive-divtwo,
  .Contentone-main-container-divfive-divthree,
  .Contentone-main-container-divfive-divfour {
    width: 85%;
  }

  .testimonial-container {
    padding: 60px 30px;
  }
}


/* =========================
   LAPTOP DEVICES
   (901px – 1200px)
========================= */
@media (max-width: 1200px) {

  .Contentone-main-container-divtwo,
  .Contentone-main-container-divthree,
  .Contentone-main-container-divseven,
  .Contentone-main-container-divnine {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }

  .Contentone-main-container-divfour-image {
    width: 55%;
  }
}

/* =========================
   FOOTER – MOBILE FIRST FIX
========================= */
@media (max-width: 768px) {

  /* RESET FLOAT ISSUES */
  .Footer-main-container * {
    float: none !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Footer-main-container {
    margin-top: 40px;
    padding: 20px 15px;
    text-align: center;
  }

  /* FOOTER SECTIONS STACK */
  .Footer-main-container-divone,
  .Footer-main-container-divtwo,
  .Footer-main-container-divthree,
  .Footer-main-container-divfour {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
  }

  /* INPUT + BUTTON */
  .Footer-main-container-divone-input {
    width: 100%;
    max-width: 320px;
    margin: 15px auto;
    display: block;
  }

  .Footer-main-container-divone-button {
    width: 100%;
    max-width: 320px;
    margin: 10px auto;
    display: block;
  }

  /* FOOTER LISTS */
  .Footer-main-container-divtwo-ul,
  .Footer-main-container-divthree-ul,
  .Footer-main-container-divfour-ul {
    padding: 0;
    margin-top: 15px;
  }

  .Footer-main-container-divtwo-ul li,
  .Footer-main-container-divthree-ul li,
  .Footer-main-container-divfour-ul li {
    margin: 12px 0;
  }

  /* LOGO */
  .footer-logo-image {
    width: 140px;
    height: auto;
    margin: 20px auto;
    display: block;
  }

  /* SOCIAL ICONS */
  .footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }

  /* FOOTER TEXT */
  .footer-bottom-text {
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
  }

  .footer-hr {
    width: 90%;
    margin: 20px auto;
  }
}


/* =========================
   FOOTER – TABLET FIX
========================= */
@media (min-width: 769px) and (max-width: 1024px) {

  .Footer-main-container {
    padding: 40px 30px;
  }

  .Footer-main-container-divone,
  .Footer-main-container-divtwo,
  .Footer-main-container-divthree,
  .Footer-main-container-divfour {
    width: 50%;
    float: left;
    padding: 20px;
  }

  .footer-social-icons {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .footer-logo-image {
    width: 180px;
  }
}

